**

!go.mod
!go.sum
!install.sh
!configs/
!configs/package-updates.conf

!cmd/
!cmd/**
!internal/
!internal/**

!integration/
!integration/lab/
!integration/lab/zabbix_agent2.conf
!integration/lab/zabbix_agent2_active.conf
!integration/lab/Dockerfile.apt
!integration/installer/
!integration/installer/dnf
